<% provide(:title, "博客留言") %>
<div class="article">
  <p id="notice"><%= notice %></p>
  <%= will_paginate %>
    <% @blogs.each do |blog| %>
      <div class="article" id="blog-<%= blog.id %>">
          <h2>
            <i class="fa fa-bookmark fa-2x"></i> <%= link_to blog.title, blog_path(blog, anchor: "blog_show") %>
          </h2>
          <h3>
            <i class="fa fa-tags"></i>标签: <%= blog.tag %>
          </h3>
          <p><%= blog.content %></p>
        <h3><i class="fa fa-comments-o fa-2x"></i><%= link_to "用户留言(#{blog.comments.count})" , blog_path(blog, anchor: "comments_index") %><span>&nbsp;&bull;&nbsp;</span>  <%= format_date(blog.created_at) %>  <span>&nbsp;&bull;&nbsp;</span></h3>
      </div>
      <hr>
    <% end %>
  <%= will_paginate %>
</div>
