<div class="article" id="blog_show">
  <p id="notice"><%= notice %></p>

  <h2>
    <strong>
      <i class="fa fa-bookmark fa-2x"></i>      <%= @blog.title %>      <small>(<i><%= format_date(@blog.created_at) %></i>)</small>
    </strong>
  </h2>

  <h3>
    <i class="fa fa-tags"></i>概述: <%= @blog.tag %>
  </h3>

  <h3>
    <%= markdown @blog.content %>
  </h3>


  <%= link_to blogs_path( @blogs, anchor: "blog-#{@blog.id}") do %>
    <i class="fa fa-reply-all fa-4x"></i>
  <% end %>
</div>

<div class="article" id="comments_index">
  <h2><i class="fa fa-comments-o"></i><span><%= @comments.count %></span>  条留言</h2>
  <%= will_paginate(@comments) %>
    <% @comments.each do |c| %>
      <%= render partial: "comments/comment", locals: {c: c} %>
    <% end %>
  <%= will_paginate(@comments) %>
</div>

<% if current_user %>
  <%= render "comments/comments_box" %>
<% else %>
  <h2><%= link_to "要留言请先登录", member_path %></h2>
  <h2><%= link_to "还没有账户?点我注册", login_path %></h2>
<% end %>
