<div class="article">
  <%= form_for(@comment = Comment.new(:blog_id => @blog.id, :user_id => current_user.id), remote: true) do |f| %>
    <%= f.hidden_field :blog_id %>
    <%= f.hidden_field :user_id %>
    <dl class="form">
    <dt>尊敬的<%= link_to current_user.name, current_user %>,您可以在下方留言</dt>
    <dd><%= f.label :content, "留言内容(请控制在255个字符以内)" %></dd>
    <%= f.text_area :content, class: 'w10' %>
    <% if @comment.errors[:content].any? %>
      <dd class="error"><%= @comment.errors[:content] %></dd>
    <% end %>
    </dl>
    <%= f.submit "Ctrl+Enter", class: "w3 btn btn-primary" %>
  <% end %>
</div>

<script>
  var commenter_exist = [];
  $('.comment p a').each(function(){
    if($.inArray($(this).text(), commenter_exist) < 0) {
      commenter_exist.push($(this).text());
    }
  });
  $('textarea').atwho({ at: "@", 'data': commenter_exist});

  $("#new_comment textarea#comment_content").keydown(function(e) {
    if ((e.ctrlKey||e.metaKey) && e.keyCode ==13) {
      $("#new_comment input[type=submit]").click();
    }
  });
</script>
