<div class="comment" id="blog_<%= c.blog.id %>_comment_<%= c.id %>">
  <%= link_to user_path(c.user) do %>
    <%= image_tag c.user.gravatar, size: "40x40", alt: "c.user_#{c.user.id}", class: "userpic" %>
  <% end %>
  <p>
  <%= link_to c.user.name, '#' %>      说:<br /><%= format_time(c.created_at) %>
  </p>
  <p><%= markdown c.content %></p>
  <% if logged_in? && current_user.admin? %>
    <i class="fa fa-warning fa-2x"></i><h2 class="inline"><%= link_to "删除留言", c, method: :delete, data:{confirm: "确认删除这条留言?"} %></h2>
  <% end %>
  <hr>
</div>
