<h2>我公司目前拥有</h2>
<h2><%= @users_count-1 %> 名用户     <small><%= link_to "管理", admin_users_path %></small></h2>
<h2><%= @blogs_count %> 篇企业博客     <small><%= link_to "管理", admin_blogs_path %></small></h2>
<h2><%= @comments_count %> 条留言      <small><%= link_to "管理", admin_comments_path %></small></h2>
