<div class="article">
  <%= image_tag @user.gravatar, size: "80x80", alt: "user_#{@user.id}", class: "userpic" %>
  <h2>会员姓名:&nbsp;&nbsp;&nbsp;<%= @user.name %></h2>
  <h2>会员邮箱:&nbsp;&nbsp;&nbsp;<%= @user.email %></h2>
  <h2>会员空间:&nbsp;&nbsp;&nbsp;<%= @user.zone %></h2>
  <h2>所有的留言:</h2>
  <%= will_paginate(@comments) %>
  <% @comments.each do |c| %>
  <h3>在 <%= link_to c.blog.title, blog_path(c.blog) %>中留言 <%= c.content %></h3>
  <% end %>
  <%= will_paginate(@comments) %>
</div>
