<div class="article">
  <h2>会员姓名:&nbsp;&nbsp;&nbsp;<%= @user.name %></h2>
  <h2>会员邮箱:&nbsp;&nbsp;&nbsp;<%= @user.email %></h2>
  <h2>会员空间:&nbsp;&nbsp;&nbsp;<%= link_to @user.zone %></h2>
  <h2>会员所有的留言:</h2>
  <% @comments.each do |comment| %>
  <h3>在 <%= commment.blog %>中留言 <%= comment.content %></h3>
  <% end %>
</div>
