<div class="fbg">
  <div class="fbg_resize">
    <div class="col c1">
      <h2><span>Image Gallery</span></h2>
      <%= link_to (image_tag "pix1.jpg"),'#', size: "56x56", alt: "pix" %>
      <%= link_to (image_tag "pix2.jpg"),'#', size: "56x56", alt: "pix" %>
      <%= link_to (image_tag "pix3.jpg"),'#', size: "56x56", alt: "pix" %>
      <%= link_to (image_tag "pix4.jpg"),'#', size: "56x56", alt: "pix" %>
      <%= link_to (image_tag "pix5.jpg"),'#', size: "56x56", alt: "pix" %>
      <%= link_to (image_tag "pix6.jpg"),'#', size: "56x56", alt: "pix" %>

    </div>
    <div class="col c2">
      <h2><span>Lorem Ipsum</span></h2>
      <p>Lorem ipsum dolor<br />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p>
    </div>
    <div class="col c3">
      <h2><span>About</span></h2>
      <%= image_tag "white.jpg", size: "56x56", alt: "pix" %>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. llorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum. <a href="#">Learn more...</a></p>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="footer">
  <div class="footer_resize">
    <p class="lf">&copy; Copyright <a href="#">MyWebSite</a>. Collect from <a href="http://www.cssmoban.com/" title="网站模板" target="_blank">网站模板</a></p>
    <ul class="fmenu">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="support.html">Support</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="contact.html">Contacts</a></li>
    </ul>
    <div class="clr"></div>
  </div>
</div>
