<!DOCTYPE html>
<html>
<head>
  <title>后台管理页</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <ul>
          <li class="active"><%= link_to "回到主页", root_path %></li>
          <li><%= link_to "后台概览", admin_root_path %></li>
          <li><%= link_to "管理会员", admin_users_path %></li>
          <li><%= link_to "管理博客", admin_blogs_path %></li>
          <li><%= link_to "管理留言", admin_comments_path %></li>
          <li class="pull-right"><%= link_to "退出管理员", logout_path, method: 'delete' %></li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="adminbar">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
