<!DOCTYPE html>
<html>
<head>
  <title>Company</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "flash flash-#{message_type}") %>
  <% end %>

  <%= render "layouts/header" %>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <%= yield %>
      </div>
      <%= render "layouts/sidebar" %>
    </div>
  </div>
  <%= render "layouts/footer" %>
  <script>
    var hideNotice = function(){
     $(".notice").fadeOut("slow");
    }
    setTimeout(hideNotice, 2000);
  </script>
</body>
</html>
